<%# Renders the options of the downloads dropdown button %>
<% document ||= @document %>
<% if document.multi_direct_downloads.present? %>
  <div class="panel panel-default exports">
    <div class="panel-heading">
      <h3 class="h5"><%= t('geoblacklight.download.download').pluralize %></h3>
    </div>
    <ul class="list-group list-group-flush">
      <% document.multi_direct_downloads.each do |dd| %>
        <%= content_tag(:li, class: "list-group-item export") do %>
          <%= content_tag(:div, class: "export-label") do %>
            <%= download_text_laefer_alt(dd[0]) %>
          <% end %>
          <%= content_tag(:div, class: "export-link-container") do %>
            <%= link_to(t('geoblacklight.download.export_link'), dd[1], data: {download: 'trigger', download_type: 'direct', download_id: document.id}, class: 'btn btn-primary btn-block download download-generated') %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% elsif document.direct_download.present? %>
  <% if document.direct_download[:download].is_a? Array %>
    <% document.direct_download[:download].each do |download| %>
      <%= download_link_file(download['label'], document.id, download['url']) %>
    <% end %>
  <% end %>
  <% if document.direct_download[:download].is_a? String %>
    <%= download_link_file(download_text(document.file_format), document.id, document.direct_download[:download]) %>
  <% end %>
<% end %>

<% if document.hgl_download.present? %>
  <%= download_link_hgl(download_text(document.download_types.first[0]), document) %>
<% end %>

<% if document.iiif_download.present? %>
  <%= download_link_iiif %>
<% end %>

<% if document.download_types.present? %>
  <% document.download_types.each do |type| %>
    <%= download_link_generated(type.first, document) %>
  <% end %>
<% end %>
