<div class='jumbotron'>
  <div class='home-search-area'>
    <%= content_tag :h2, t('geoblacklight.home.headline') %>
    <%= content_tag :h3, t('geoblacklight.home.search_heading') %>
    <div class='col-md-6 col-md-offset-3'>
      <%= render_search_form_no_navbar %>
    </div>
  </div>
</div>

<div class='container'>


  <div class='row'>
    <div class='col-md-6'>
      <%= content_tag :h3, t('geoblacklight.home.category_heading'), class: 'text-center' %>
      <div class='category-block'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-home'></span>
        </div>
        <h4>Institution</h4>
        <%= render_facet_tags [Settings.FIELDS.PROVENANCE] %>
      </div>
      <div class='category-block'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-download'></span>
        </div>
        <h4>Data type</h4>
        <%= render_facet_tags [Settings.FIELDS.GEOM_TYPE] %>
      </div>
      <div class='category-block'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-globe'></span>
        </div>
        <h4>Placename</h4>
        <%= render_facet_tags [Settings.FIELDS.SPATIAL_COVERAGE] %>
      </div>
      <div class='category-block'>
        <div class='category-icon'>
          <span class='glyphicon glyphicon-tags'></span>
        </div>
        <h4>Subject</h4>
        <%= render_facet_tags [Settings.FIELDS.SUBJECT] %>
      </div>
    </div>
    <div class='col-md-6 text-center'>
      <%= content_tag :h3, t('geoblacklight.home.map_heading') %>
      <%= content_tag :div, '', id: 'map', data: {map: 'home', 'catalog-path' => search_catalog_path, 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap, leaflet_options: leaflet_options} %>
    </div>
  </div>

  <div class="curated">
    <div class="curated-collections">

      <h4>Featured Collections...</h4>

      <div class="row">
        <div class="col-md-3">
          <div class="card-collection">
            <div class="card-block">
              <h4 class="card-title">New York City Open Data</h4>

              <p class="card-text">A collection of datasets related to NYC infrastructure, real estate, transportation, and political geography</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-collection">
            <div class="card-block">
              <h4 class="card-title">NYU Research Data</h4>

              <p class="card-text">Geospatial data submitted for preservation by NYU students, faculty, and staff</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-collection">
            <div class="card-block">
              <h4 class="card-title">U.S. Census Data</h4>

              <p class="card-description">Datasets which package data from the U.S. Census, or American Community Survey, along with geographic boundaries</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-collection">
            <div class="card-block">
              <h4 class="card-title">Soviet Topographic Maps of the Arabian Peninsula</h4>

              <p class="card-description">Raster scans of Soviet military topographic maps produced in the late 1970s</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="curated-maps">

      <h4>Featured Maps...</h4>


      <div class="row">
        <a style="display:block" href="./catalog/harvard-ams7810-s250-u54-nh49-16">
          <div class="col-md-4">
            <div class="card-map">
              <img class="card-img-top" src="http://localhost:3000/assets/thmb1.jpg" alt="Card image cap">

              <div class="card-block">
                <h4 class="card-title">China : Ch'ang-sha Region</h4>

              </div>
            </div>
          </div>
        </a>

        <a style="display:block" href="./catalog/nyu_2451_36739">
          <div class="col-md-4">
            <div class="card-map">
              <img class="card-img-top" src="http://localhost:3000/assets/thmb2.jpg" alt="Card image cap">

              <div class="card-block">
                <h4 class="card-title">1967 Communist Chinese Agriculture</h4>

              </div>
            </div>
          </div>
        </a>

        <a class="map-link" href="./catalog/nyu_2451_34678">
          <div class="col-md-4">
            <div class="card-map">
              <img class="card-img-top" src="http://localhost:3000/assets/thmb3.jpg" alt="Card image cap">

              <div class="card-block">
                <h4 class="card-title">2015 New York City Real Estate Sales</h4>

              </div>
            </div>
          </div>
        </a>

      </div>
    </div>

  </div>


</div>