<% if @document.relations.exist? %>
    <div class="panel panel-default show-tools">
      <div class="panel-heading">
        Data Relations
      </div>
      <div class="panel-body">
        <ul class="nav">
          <% unless @document.relations.ancestors.blank? %>
              <b>Ancestors</b>
              <% @document.relations.ancestors.each do |ancestor| %>
                  <li>
                    <%= link_to "#{Rails.application.config.relative_url_root}/catalog/#{ancestor['layer_slug_s']}" do %>
                        <span class='geoblacklight geoblacklight-relations-ancestor'></span> <%= ancestor['dc_title_s'] %>
                    <% end %>
                  </li>
              <% end %>
          <% end %>
          <% unless @document.relations.descendants.blank? %>
              <b>Descendants</b>
              <% @document.relations.descendants[0..4].each do |descendant| %>
                  <li>
                    <%= link_to "#{Rails.application.config.relative_url_root}/catalog/#{descendant['layer_slug_s']}" do %>
                        <span class='geoblacklight geoblacklight-relations-descendant'></span> <%= descendant['dc_title_s'] %>
                    <% end %>
                  </li>
              <% end %>
              <ul class="list-group">
                <%= link_to "#{root_url}#{@document.relations.search[:descendants]}", class: "list-group-item" do %>
                    <%= "View all #{@document.relations.count[:descendants]} items..." %>
                <% end %>
              </ul>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>