<% document ||= @document %>
<% doc_presenter = show_presenter(document) %>

<div class="geoblacklight-view-panel">
  <% if @document.rights_text %>
      <div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= @document.rights_text.html_safe %></div>
  <% end %>
  <% if (document["dc_creator_sm"]) && (document["dc_creator_sm"].include? ("Debra F. Laefer")) %>
      <%= render 'laefer_notice' %>
  <% end %>

  <%# From https://github.com/projectblacklight/blacklight/blob/master/app/views/catalog/_show_default.html.erb %>
  <%# default partial to display solr document fields in catalog show view -%>
  <dl class="dl-horizontal  dl-invert">
    <% document_show_fields(document).each do |field_name, field| -%>
      <% if should_render_show_field? document, field %>
  	    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
  	    <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field %></dd>
      <% end -%>
    <% end -%>
    <% if !@document.references.nil? && !@document.references.url.nil? %>
      <dt>Preservation record:</dt>
      <dd itemprop="url"><%= link_to @document.references.url.endpoint, @document.references.url.endpoint %></dd>
    <% end %>
  </dl>
</div>
